/*-------------------------Global----------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --lightGreen: rgb(76, 135, 36);
    --darkGreen: rgb(55, 98, 25);
    --yellow: rgb(251, 227, 92, .6); 
    --orange: rgb(228, 157, 82, .8);
    --darkBrown: rgb(37, 20, 3);

    --sunsetGrad: linear-gradient(var(--yellow), var(--orange));

    --crocStill: url('../images/CrocStill.png'), url('../images/CrocBoard.gif'),var(--sunsetGrad);
    --crocAnimate: url('../images/CrocAnimate.gif'), url('../images/CrocBoard.gif'), var(--sunsetGrad);
}

body {
    background-image: url('../images/swamp.png');
    background-size: cover;
    font-family: 'Staatliches', sans-serif;
    color: var(--darkBrown);
}
/*-------------------------Layout & Design Macro----------------------*/
.pageHead {
    /* Layout */
    text-align: center;
    padding: 10px;
    margin: 20px;
    margin-left: 15%;
    margin-right: 15%;
    /* Design */
    font-size: 3rem;
    background-image: var(--sunsetGrad);
    border: 5px solid var(--orange);
    border-radius: 10px;
}

.resultOutStyle {
   /* Layout */
   text-align: left;
   font-size: 2.5rem;
   padding-bottom: 100px;
   padding-left: 5%;
   padding-top: 120px;
   margin: 20px;
   margin-left: 15%;
   margin-right: 15%;
   /* Design */
   background-image: var(--crocStill);
   background-repeat: no-repeat;
   background-position: 95% 0px;
   border: 5px solid var(--orange);
   border-radius: 10px;
}

.resultNum_animate {
    animation-name: slideIn;
    animation-duration: 1s;
}



.inputStyle {
   /* Layout */
   float: left;
   margin-left: 25%;
   padding: 20px;
   /* Design */ 
   border: 5px solid var(--orange);
   border-radius: 10px;
   background-image: var(--sunsetGrad);
}

.historyStyle {
    /* Layout */
    float: right;
    margin-right: 25%;
    padding: 20px;
    /* Design */ 
    border: 5px solid var(--orange);
    border-radius: 10px;
    background-image: var(--sunsetGrad);
}
/*-------------------------Layout & Design Micro----------------------*/

    /*----------Inputs----------*/
.inputDisplayStyle {
    /* Layout */
    width: 9.35rem;
    height: 5rem;
    text-align: center;
    padding-bottom: 0.5rem;
    /* Design */ 
    font-family: inherit;
    font-size: 2rem;
    color: var(--darkBrown);
    border: 2px solid var(--darkGreen);
    border-radius: 5px;
    background-image: var(--sunsetGrad);
}


.valueButtons , .operatorButtons, .equalButton {
    /* Layout */
    width: 3rem;
    height: 2.5rem;
    /* Design */ 
    font-family: inherit;
    font-size: 1.25rem;
    color: var(--darkBrown);
    border: 1px solid var(--darkGreen);
    border-radius: 5px;
    background-color: var(--darkGreen);
    /* Animation */
    transition: transform 0.3s ease;
}

.clearButton {
    /* Layout */
    width: 3rem;
    height: 5.1rem;
    /* Design */ 
    font-family: inherit;
    font-size: 1.25rem;
    color: var(--darkBrown);
    border: 1px solid var(--darkGreen);
    border-radius: 5px;
    background-color: var(--darkGreen);
    /* Animation */
    transition: transform 0.3s ease;
}
    /*----------History----------*/
.clearHistoryButton {
    /* Layout */
    width: 9rem;
    height: 2.5rem;
    /* Design */ 
    font-family: inherit;
    font-size: 1.25rem;
    color: var(--darkBrown);
    border: 1px solid var(--darkGreen);
    border-radius: 5px;
    background-color: var(--darkGreen);
    /* Animation */
    transition: transform 0.3s ease;
}

.previousCalculations {
    /* Layout */
    width: 9rem;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    /* Design */ 
    font-family: inherit;
    font-size: 1.25rem;
    border: 2px solid var(--darkGreen);
    border-radius: 5px;
    background-image: var(--sunsetGrad);
}
.calcHistory {
    /* Layout */
    margin: 5px;
    /* Design */ 
    border: 1px solid var(--darkGreen);
    border-radius: 5px;
    background-color: var(--darkGreen);
    /* Animation */
    transition: transform 0.3s ease;
}

td {
    border: inherit;
    margin: inherit;
    border-radius: inherit;
    transition: inherit;
}

/*-------------------------Animation----------------------*/
.valueButtons:hover  {
    transform: translate(-3px, -3px);
    background-color: var(--lightGreen);
}

.operatorButtons:hover, .clearButton:hover {
    transform: translate(3px, -3px);
    background-color: var(--lightGreen);
}

.equalButton:hover{
    transform: scale(1.25);
    background-color: var(--lightGreen);
}

.calcHistory:hover, .clearHistoryButton:hover  {
    transform: scale(1.1);
    background-color: var(--lightGreen);
}

@keyframes slideIn {
    from {padding-left: 45%; opacity: 0;}
    to {padding-left: 0%; opacity: 1; background-image: none;}
}
