/*-------------------------Global----------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --lightGreen: #A8E2A0;
    --DarkGreen: #375A33;
}

body {
    background-color: bisque;
    font-family: 'Staatliches', sans-serif;
}
/*-------------------------Layout & Design Macro----------------------*/
h1 {
    /* Layout */
    text-align: center;
    padding: 20px;
    /* Design */
    font-size: 3rem;
    background-color: #375A33
}

h2 {
   /* Layout */
   text-align: left;
   font-size: 2rem;
   padding-bottom: 30px;
   padding-left: 20%;
   padding-top: 120px;
   /* Design */
}

.inputStyle {
   /* Layout */
   float: left;
   margin-left: 25%;
   padding: 20px;
   /* Design */ 
   border: 3px solid;
   border-radius: 10px;
}

.historyStyle {
    /* Layout */
    float: right;
    margin-right: 25%;
    padding: 20px;
    /* Design */ 
    border: 3px solid;
    border-radius: 10px;
}
/*-------------------------Layout & Design Micro----------------------*/
    /*----------Result----------*/
.resultNum_animate {
    animation-name: slideIn;
    animation-duration: 1s;
}

    /*----------Inputs----------*/
.inputDisplay {
    /* Layout */
    width: 9.35rem;
    height: 5rem;
    text-align: center;
    padding-bottom: 0.5rem;
    /* Design */ 
    font-family: inherit;
    font-size: 2rem;
    border-radius: 5px;

}


.valueButtons , .operatorButtons, .equalButton {
    /* Layout */
    width: 3rem;
    height: 2.5rem;
    /* Design */ 
    font-family: inherit;
    font-size: 1.25rem;
    border-radius: 5px;
    /* Animation */
    transition: transform 0.3s ease;
}

.clearButton {
    /* Layout */
    width: 3rem;
    height: 5.1rem;
    /* Design */ 
    font-family: inherit;
    font-size: 1.25rem;
    border-radius: 5px;
    /* Animation */
    transition: transform 0.3s ease;
}
    /*----------History----------*/
.clearHistoryButton {
    /* Layout */
    width: 9rem;
    height: 2.5rem;
    /* Design */ 
    font-family: inherit;
    font-size: 1.25rem;
    border-radius: 5px;
    /* Animation */
    transition: transform 0.3s ease;
}

.previousCalculations {
    /* Layout */
    width: 9rem;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    /* Design */ 
    font-family: inherit;
    font-size: 1.25rem;
    border: 2px solid;
}
.calcHistory {
    /* Layout */
    margin: 5px;
    /* Design */ 
    border: 1px solid;
    border-radius: 5px;
    /* Animation */
    transition: transform 0.3s ease;
}

td {
    border: inherit;
    margin: inherit;
    border-radius: inherit;
    transition: inherit;
}

/*-------------------------Animation----------------------*/
.valueButtons:hover  {
    transform: translate(-3px, -3px);
}

.operatorButtons:hover, .clearButton:hover {
    transform: translate(3px, -3px);
}

.equalButton:hover{
    transform: scale(1.25);
}

.calcHistory:hover, .clearHistoryButton:hover  {
    transform: scale(1.1);
}

@keyframes slideIn {
    from {padding-left: 60%; opacity: 0;}
    to {padding-left: 0%; opacity: 1;}
}